@font-face {
    font-family: 'SpaceGrotesk';
    src: url('./assets/fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: SpaceGrotesk;
}

body {
    margin: 15;
    padding: 0;
    background: url('./assets/images/blackhole.png') no-repeat center center fixed;
    -webkit-break-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    columns: #fff;
}

.header {
    cursor: pointer;
    display: flex;
    position: sticky fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 60px;
    border-radius: 30px;
    font-size: 20;
    margin: 15px 0;
    background: rgba(255, 255, 255, 0.656);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.457);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.953);
}

.logo {
    width: 50px;
    height: 50px;
    filter: brightness(0.3);
}
.nav-items {
    display: table;
    width: 100%;
}
.nav-items > ul {
    display: flex;
    padding: 5px;
    margin: 5px;
    list-style-type: none;
}

.nav-items > ul >  li {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

#alignleft {
    margin-right: auto;
}

.des-cards-row {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Default: 4 cards per row */
    gap: 10px; /* Space between cards */
}

/* For tablets (screen width 768px and up to 1024px) */
@media (max-width: 1024px) {
    .des-cards-row {
        grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
    }
}

/* For mobile devices (screen width up to 767px) */
@media (max-width: 767px) {
    .des-cards-row {
        grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
    }
}





.des-card {
    margin-right: 15px;
    width: 100%;
    height: auto;
    font-size: 10;
    color: black;
    text-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.362);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
}

.des-card:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.256);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.911);
}

.des-card h1 {
    padding: 10;
    margin: 10;
}

.des-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}